* {
    box-sizing: border-box;
  }
  
  :root {
    --primary: #6d44ff;
    --secondary: #ce49c3;
    --tertiary: rgb(255, 255, 255);
    --grey: #333;
    font-size: 62.5%;
  }
  
  body {
    background: var(--tertiary);
    color: var(--grey);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .timer {
    position: right;
    text-align: right;
    font-weight: bold;
  }

  .hAlign {
    display: flex;
    justify-content: space-between;
  }

  header h3 {
      color: var(--secondary)
  }
  .container{
    align-content: center;
    margin: auto;
    width: 100%;
    height: 100px;
    text-align: center;
  }
  
  .welcome{
    margin-bottom: 20px;
  }
  
  #main{
    margin-bottom: 20px;
    font-size: 100px;
    width:100%;
    height: 25px;
  }
  
  #read{
    margin: auto;
    padding: 10px;
    width:100%;
    height: 25px;
  }

  header div {
      align-content: space-between
  }

  header {
    background: var(--tertiary);
    padding: 30px 25px;
  }
  
  header p {
    color: var(--secondary);
    margin: 5px 0 20px;
    font-size: 2rem;
  }
  